<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="128">
		<setting label="30001" type="select" id="X1_RESOLUTE" values="LOW|HIGH" default="LOW"/>
		<setting label="30002" type="select" id="X1_BOOTMEDIA" values="2HD|2D" default="2HD"/>
		<setting label="30003" type="select" id="X1_ROMTYPE" values="X1|TURBO|TURBOZ" default="X1"/>
		<setting label="30004" type="select" id="X1_FPS" values="AUTO|60|30|20|15" default="AUTO"/>
		<setting label="30005" type="select" id="X1_DISPSYNC" values="OFF|ON" default="OFF"/>
		<setting label="30006" type="select" id="X1_RASTER" values="OFF|ON" default="OFF"/>
		<setting label="30007" type="select" id="X1_NOWAIT" values="OFF|ON" default="OFF"/>
		<setting label="30008" type="select" id="X1_BTN_MODE" values="OFF|ON" default="OFF"/>
		<setting label="30009" type="select" id="X1_BTN_RAPID" values="OFF|ON" default="OFF"/>
		<setting label="30010" type="select" id="X1_AUDIO_RATE" values="44100|22050|11025" default="44100"/>
		<setting label="30011" type="select" id="X1_SEEKSND" values="OFF|ON" default="OFF"/>
		<setting label="30012" type="select" id="X1_SCANLINES" values="OFF|ON" default="OFF"/>
		<setting label="30013" type="select" id="X1_KEY_MODE" values="Keyboard|JoyKey-1|JoyKey-2|Mouse-Key" default="Keyboard"/>
		<setting label="30014" type="select" id="X1_FMBOARD" values="ON|OFF" default="ON"/>
		<setting label="30015" type="select" id="X1_AUDIO_DELAYMS" values="250|100|150|200|300|350|500|750|1000" default="250"/>
		<setting label="30016" type="select" id="X1_CPU_CLOCK" values="4|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20" default="4"/>
	</category>
</settings>
